.header{
    padding: 18px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 20%;
    width: 98%;
    margin: auto;
}
.HeaderBlock1{
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #ededed;
}
.HeaderBlock2{
    padding-top: 10px;
    display: flex;
    max-width: 210px;
    width: 100%;
    margin: 0 auto;
    gap: 10px;
    align-items: center;
}
.headerTitle_block2{
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    text-decoration: none;
    transition: 0.4s;
}
.headerImg{
    max-width: 188px;
    width: 100%;
    max-height: 40px;
    height: 100%;
}
.nav_HomeLink{
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.headerTitle{
    font-size: 18px;
    color: #333333;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s;
}
.headerTitle:hover{
    transition: all 0.3s;
    color: #333333ca;
}
.loading{
    overflow-y:auto;
    background: #f7f7f7;
    height: 100vh;
    max-width: 436px;
    width: 100%;
    left: 0;
    padding: 32px;
    margin-top: -85px;
    visibility: visible;
    position: fixed;
}
.loadingFalse{
    transform:translateX(-500px);
    visibility: hidden;
    opacity: 1;	
    transition: all 0.6s;
}
.loadingTrue {
    transform:translateX(0);
	transition: all 0.6s;
	z-index: 99999;
	opacity: 1;	
}
.loadingBlackground:before {
    content: '';
	background: #000;
	position: fixed;
    transition: all 0.6s;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.favourites{
    width: 24px;
    height: 24px;
}
.favouritesProfile{
    width: 20px;
    height: 20px;
}
.favouritesRegister{
    width: 26px;
    height: 26px;
}
.favouritesLogin{
    width: 21px;
    height: 21px;
}

/* menu */
.header_navMenu{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ededed;
}
.header_navMenuTitle{
    font-size: 24px;
    color: #333333;
}
.header_navMenuBtn{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    color: #333333;
    background: none;
    transition: all 0.3s;
}
.header_navMenuBtn:hover{
    transition: all 0.3s;
    color: #333333ca;
}
.header_navUpMenu{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #ededed;
    gap: 10px;
    padding-bottom: 25px;
}
.header_navUpMenuTitle{
    font-size: 18px;
    color: #333333;
}
.header_navUpMenugLink{
    color: #333333;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
}
.header_navUpMenugLink:hover{
    transition: all 0.3s;
    color: #333333ca;
}
.header_navContact{
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: column;
}
.header_navContactTitle{
    font-size: 18px;
    color: #333333;
}
.header_navContactText{
    font-size: 16px;
    margin: 0;
    color: #333333;
}
@media(max-width:1400px){
    .HeaderBlock2{
        width: 98%;
    }
    .HeaderBlock1{
        width: 98%;
    }
}
@media(max-width:500px){
    .loading {
        max-width: 436px;
        width: 45%;
    }
}
@media(max-width:450px){
    .HeaderBlock1 {
        width: 98%;
    }
    .headerImg {
        max-width: 130px;
        width: 100%;
    }
    
}