.home_tabsBlock{
    margin-top: 36px;
    width: 98%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 0;
}
.border-b{
    text-align: center;
    padding-bottom: 30px;
}
.home_favourites{
    height: 24px;
    padding:6px;
    margin: 4px;
    cursor:pointer;
    background: #ededed;
    border-radius: 99rem;
    position: absolute;
    width: 24px;
    transition:all 0.4s;
}
.home_favourites:hover{
    transition:all 0.4s;
    background: #edededb1;
}
.home_tabsTitle{
    font-size: 16px;
    padding: 3px;
    margin: 0;
    color: #333333;
    transition: all 0.4s;
}
.home_tabsText{
    margin: 0;
    color: #333333;
    font-size: 18px;
    padding: 3px;
}
.font-medium{
    border: none;
    font-size: 20px;
    background: none; 
}
.home_tabsTabBlockMen{
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}
.home_tabsTabBlockWomen{
    display: flex;
    gap: 30px;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.home_tabsTabAcrticle{
    max-width: 256px;
    width: 100%;
    min-height: 440px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 10px;
    animation: cardAnimation 1s ease-in-out;
}
@keyframes cardAnimation {
    0% {
        transform: translateY(-20px) scale(0.95);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}
.home_tabsTabAcrticle:hover{
    transition: 0.4s;
}
.home_tabsTabAcrticle:hover > .home_tabsTitle{
    transition: all 0.4s;
    color: rgba(67, 67, 67, 0.955)
}
.home_tabsTabAcrticle_img{
    border-radius: 10px;
    max-width: 256px;
    width: 100%;
    height: 366px;
}
.home_tabsBtnAddBasket{
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    color: #ededed;
    cursor: pointer;
    max-width: 300px;
    width: 100%;
    background: #FF6163;
    border: 1px solid #FF6163;
    border-radius: 8px;
    text-align: center;
    transition: 0.5s;
}
.home_tabsBtnAddBasket:hover {
    transition: 0.5s;
    background: #ff6164d8;
    border: 1px solid #ff6164d8;
}
.home_tabsBtnAddBasket:focus {
    transition: 0.5s;
    background: #ff6164d8;
    border: 1px solid #ff6164d8;
}
@media(max-width:1400px) {
    .home_tabsTabBlockMen{
        width: 99%;
    }
    .home_tabsTabBlockWomen{
        width: 99%;
    }
}