.HomeModal{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 0px;
    bottom: 5%;
    right: 48%;
    left: 48%;
    margin-right: 30px;
    transition: 0.4s;
}
.HomeModal_title{
    background: #ededed;
    color: #333333;
    padding: 10px 20px;
    width: 300px;
    border: 1px solid #ededed;
    text-align: center;
    border-radius: 10px;
    transition: 0.4s;
    animation:  anim 2s ease-in-out infinite;
}