.Basket{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.basketNone{
    color: #333333;
    margin: 15px 18px;
}
.basketTitle{
    color: #333333;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
    padding: 0px 10px;
    width: 150px;
    margin: 10px 0 30px 18px;
}
.BasketBlock{
    display: flex;
    width: 98%;
    margin: auto;
    align-items: center;
    gap: 10px;
}
.BasketImg{
    max-width: 120px;
    width: 100%;
    height: 171px;
    border-radius: 10px;
}
.BasketBlock1{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.BasketTitle{
    font-size: 20px;
    color: #333333;
    margin: 0;
}
.BasketText{
    font-size: 15px;
    color: #333333;
    
}
.BasketBtn{
    cursor: pointer;
    padding: 5px;
    font-size: 24px;
    color: #ff2020;
    background: none;
    border: none;
    transition: all 0.3s;
}
.BasketBtn:hover{
    cursor: pointer;
    transform: scale(0.94);
    color: #ff2020a8;
    transition: all 0.3s;
}

@media(max-width:450px){
    .BasketBlock {
        width: 95%;
    }
    .basketNone{
        color: #333333;
        text-align:center;
    }
}
/* payment */
.BasketBlock2{
    margin: auto;
    width: 98%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
.BasketBlock2_title {
    color: #333333;
    background: #ededed;
    border: 1px solid #ededed;
    border-radius: 5px;
    animation: anim 2s ease-in-out infinite;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}
.ModalBlackground:before {
    content: '';
	background: #000;
	position: fixed;
    transition: all 0.6s;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
